{
    templateData:

        plugin: 'docpad-plugin-plugins'

        description: 'Provides a quick, easily extensible framework for bootstrapping plugin development to standards.'

        fullname: '<t>firstname</t> <t>lastname</t>'

        markdownExample: '<t render="markdown">this is so **awesome**</t>'

        markdownEcoExample: '<t render="md.eco">here is a random number: **<%- Math.random() %>**</t>'
}


